/* .container{
  margin: auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
canvas {
  display: block;
  width: 600px;
  height: 400px;
}
.danger {
  color: red;
}
.great {
  color: green;
} */

.metrics-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.dashboard {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 1%;
}

.metric-card {
  width: 200px;
  height: 120px;
  border: 2px solid #28a745;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  transition: 0.3s;
}

.metric-card.danger {
  border-color: #dc3545;
  background-color: #f8d7da;
}

h3 {
  margin-bottom: 10px;
}

p {
  font-size: 24px;
  font-weight: bold;
}
.logs-container{
  display: flex;
  width: 100%;
  padding-left: 10px;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.logs{
  display: flex;
  width: 100%;
  height: 80px;
  max-height: 80px;
  overflow-y: auto;

}
