.container{
  margin: auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
canvas {
  display: block;
  width: 600px;
  height: 400px;
}
.danger {
  color: red;
}
.success {
  color: green;
}
