<app-nav-bar></app-nav-bar>

<div class="dashboard" *ngIf="tokenValid">
  <div class="metrics-container">
    <div class="metric-card" [class.danger]="cpuStatus === 'danger'">
      <h3>CPU Usage</h3>
      <p>{{ metricsCPU ?? 'Loading...' }}%</p>
    </div>
    <app-graphic [metrics]="metricsCPU"></app-graphic>
  </div>
  <div class="metrics-container">
    <div class="metric-card" [class.danger]="memoryStatus === 'danger'">
      <h3>Memory Usage</h3>
      <p>{{ metricsMemory ?? 'Loading...' }}%</p>
    </div>
    <app-graphic [metrics]="metricsMemory"></app-graphic>
  </div>
  <div class="metrics-container">
    <div class="metric-card" [class.danger]="latencyStatus === 'danger'">
      <h3>Latency</h3>
      <p>{{ metricsLatency ?? 'Loading...' }}ms</p>
    </div>
    <app-graphic [metrics]="metricsLatency"></app-graphic>
  </div>
</div>
