.nav-container{
  display: flex;
  flex-direction: row;
  height: 65px;
  width: 100%;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}
.left-label{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right-label{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;

}
.tittle-nav{
  display: flex;
  justify-content: center;
  align-items: first baseline;
  padding: 10px;
  padding-left: 20px;
  color: white;
}
.tittle-nav h1{
  font-size: 40px;
  margin-right: 35px;
  font-weight: 600;

}
.tittle-nav h3{
  font-size: 20px;
  margin-right: 15px;
  font-weight: lighter;
}
.tittle-nav h3 a{
  text-decoration: none;
  color: white;
}

