<!-- <div  class="container">
  <div>

    <input type="text" [(ngModel)]="login" placeholder="login">
    <input type="password" [(ngModel)]="password" placeholder="password">
    <button (click)="generateToken()">Login</button>
  </div>
</div> -->
<body>
  <div class="login-container">
    <form class="login-form" (ngSubmit)="generateToken()" #loginForm="ngForm">
      <h1>Login</h1>
      <div class="input-group">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          name="username"
          [(ngModel)]="login"
          placeholder="Username"
          required
        />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
          required
        />
      </div>
      <button type="submit" class="btn" [disabled]="!loginForm.valid">Login</button>
      <p style="color:red">{{ msg }}</p>
    </form>
  </div>

</body>

